.img-cover-top {
    height: 40%;
    width: 100%;
}

.rounded-circle {
    height: auto;
    width: 150px;
}

.font-weight-normal {
    margin-left: 17em;
    letter-spacing: 2px;
}

.text-muted {
    margin-left: 40px;
    letter-spacing: 2px;
}

.alert-success {
    text-align: center;
    left: 39%;
    width: 300px;
}

/* Header Responsive */

* {
    box-sizing: border-box;
}

.gride:after {
    content: "";
    display: block;
    clear: both;
}

.grid-sizers,
.grid-items {
    width: 33.333%;
}
@media (max-width: 575px) {
    .grid-sizers,
    .grid-items {
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .grid-sizers,
    .grid-items {
        width: 50%;
    }
}

.grid-items {
    float: left;
}

.grid-items img {
    display: block;
    max-width: 100%;
    max-width: 100%;
}

/* Modal */
