/*profile navs */
.img-cover-top {
    height: 40%;
    width: 100%;
}

.rounded-circle {
    height: auto;
    width: 150px;
}

.font-weight-normal {
    margin-left: 17em;
    letter-spacing: 2px;
}

.text-muted {
    margin-left: 40px;
    letter-spacing: 2px;
}

.alert-success {
    text-align: center;
    left: 39%;
    width: 300px;
}

/* Image View lightbox gallery */
