.info-area{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.col-6{
    margin-left: 200px;
}

.col1{
    margin-left: 210px;
    margin-top: 20px;
}

.download-btn{
    margin-top: 20px;
}
